$deep-dark: rgb(26, 26, 26);
$light-dark: rgb(79, 82, 92);
$light-blue: rgb(0, 132, 255);
$dark-blue: rgb(2, 84, 161);
$light: rgb(245, 245, 245);

h1 {
  // margin-bottom: 20px;
  color: $light;
  text-transform: uppercase;
  font-size: 1, 5rem;
}

.todo {
  width: 600px;
  text-align: center;
  background: #fff;
  box-shadow: 4px 4px 5px rgba(82, 82, 82, 0.4);
  border-radius: 5px;
}

.header {
  // padding: 40px;
  border-radius: 5px 5px 0 0;
  background-image: linear-gradient(340deg, #045de9 0%, #09c6f9 100%);
}

.todo-input {
  width: 80%;
  margin-bottom: 10px;
  // padding: 10px 20px;
  margin-right: 20px;
  border: none;
  border-radius: 5px;
  color: $light-dark;
  background-color: $light;
}

.alert-info {
  margin-top: 20px;
  color: $dark-blue;
}

.add-btn {
  border: none;
  border-radius: 5px;
  color: $light-blue;
  background-color: $light;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.add-btn:hover {
  color: #fff;
  background-color: $light-dark;
}

.todo-list {
  h3 {
    font-size: 1, 1rem;
  }
}

h3 {
  font-size: 1, 2rem;
}

.todo-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;

  list-style: none;
  background-color: $light;
}

.tools {
  display: flex;
  margin-right: 30px;
}

.tools button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.3s;
}

.tools button:hover {
  background-color: #ddd;
}



.delete {
  color: tomato;
}

